.app {
  display: flex;
  flex-direction: column;
}
.app_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}
.link {
  text-decoration: none;
  margin-left: 40px;
}
.table {
  color: black;
}
